# Default ignored files
/workspace.xml
/codeStyles/codeStyleConfig.xml
/dictionaries/devan.xml
/inspectionProfiles/Project_Default.xml
/modules/F2bb.iml
/modules/F2bb.main.iml
/modules/F2bb.test.iml
/$CACHE_FILE$
/.gitignore
/checkstyle-idea.xml
/gradle.xml
/jarRepositories.xml
/misc.xml
/vcs.xml
